/*fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*fonts styles*/
*{
    font-family: "Work Sans", sans-serif;
}

/*Shred Styles*/

.btn-primary{
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/*Header Related Styles*/
header{
    background-color: #ff8f0e40;
    padding: 50px 240px;
}

.section-title{
    font-size: 2.8rem;
    color: #131313;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;

}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/*Banner Related Styles*/
.banner-content{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    text-align: center;
    color: #131313;
}

.text-light-gray{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

/*Styles for Main */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}


.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams-content{
    padding-right: 40px;
    padding-left: 40px;
}

.teams-content-title{
    font-size: 2.5rem;
}

.teams-content-title .quick-list{
    font-size: 2.5rem;
    color: #727272;
    font-weight: 400;
}

.teams-content-title .teams-featuer{
    font-size: 2.5rem;
    color: #FF900E;
    font-weight: 700;
    
}

/*Features realted styles*/
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .section-title{
    border-left: 5px solid #ff300e;
    padding-left: 20px;
}

.features-content .card{
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge{
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
}

.ten-years-badge h2{
    font-size: 4em;
}


/*Card Related Styles*/
.facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}
.facts-card-container .card{
    border: 1px solid #FF900E;
    padding: 15px 30px;
}

.facts-card-container .card-stats{
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Sponsors related styles*/
.sponsors{
    text-align: center;
}

.sponsor-img-container img {
    width: 165px;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}


/*Media Queries related styles*/
/* For Mobile devices*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }

    nav > ul {
        padding: 0px;
    }

    .teams-img-container > img{
        max-width: 100%;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .facts-card-container,
    .sponsor-img-container
    {
        gap: 20px;
    }
    


}
/*For Medium devices*/
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }

    .teams-img-container > img{
        width: 100%;
    }

    .sponsor-img-container{
        gap: 30px;
    }
}